.hack-info {
	border: 8px groove #fe900d;
	margin: 0;
	padding: 0;
	width: 75%;
	background: linear-gradient(90deg, rgba(224, 119, 119, 0) 50%, rgb(22, 11, 1) 75%);
}

.hack-info p {
	text-align: center;
	padding: 20px;
	margin: 2px;
	color: white;
	box-sizing: border-box;
	/* font-weight: bold; */
	/* font-size: large; */
	font-family: Minecrafter;

}
